<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Wallet Balance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align:center">
      <img src="../../assets/wallet.png" class="wallet-icon">
  </div>
  
  <ion-card>
    <ion-list>
      <ion-item class="color">
        <ion-icon name="wallet" item-left class="color"></ion-icon>
        <ion-input type="number" placeholder="Wallet Balance" [(ngModel)]='walletBalance'></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button expand="block" class="firebase-btn" (click)="addBalance()">Add Balance</ion-button>
</ion-content>
