
.wallet-icon{
    height     : 100px;
    margin-top : 30px;
    margin-bottom: 30px; 
}
.color
    {
        color: #f16e3e;
    }

    .firebase-login{
        margin-top: 30px;
        position: relative;
    }