.expense-card{
    border-top: 5px solid #f16e3e;
  }
  .left-content{
      text-align: left;
  }
  .right-content{
      text-align: right;
      text-transform: capitalize;
  }
  .head{
      font-size: 15px;
      letter-spacing: 1px;
  }