<ion-header>
  <ion-toolbar>
    <ion-title>view-expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="expense-card" *ngFor="let expense of data">
    <ion-card-header>
        <ion-grid>
            <ion-row>
              <ion-col col-8 style="text-align:left">
      
              </ion-col>
              <ion-col col-4 style="text-align:right">
                  <ion-badge class="date" color="primary">{{expense.date}}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col col-6 class="left-content">
            <span>Amount</span>
          </ion-col>
          <ion-col col-6 class="right-content">
              <span>₹ {{expense.amount}}</span>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col col-6 class="left-content">
              <span>Category</span>
            </ion-col>
            <ion-col col-6 class="right-content">
                <span>{{expense.category}}</span>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-6 class="left-content">
                <span>Source</span>
              </ion-col>
              <ion-col col-6 class="right-content">
                  <span>{{expense.source}}</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6 class="left-content">
                  <span>Transaction type</span>
                </ion-col>
                <ion-col col-6 class="right-content">
                    <span>{{expense.trType}}</span>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 class="left-content">
                  <span>Description</span>
                </ion-col>
                <ion-col col-6 class="right-content">
                    <span>{{expense.description}}</span>
                  </ion-col>
              </ion-row>
             
          </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>
