
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
  <ion-grid>
    <ion-row class="balance-card">
      <ion-col col-12 style="text-align:center">
        <span class="balance-text" >₹ {{amount}}</span><br>
        <span class="sub-text">Wallet Balance</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <a (click)="getExpense()"> -->
    <ion-card class="expense-card">
      <ion-card-header>
        <ion-card-subtitle>Total Expense</ion-card-subtitle>
        <ion-card-title>
          <ion-row>
            <ion-col col-6>
              Expense
            </ion-col>
            <ion-col col-6 style="text-align:right">
                ₹ {{expense}}
            </ion-col>
          </ion-row>
      </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <canvas #lineCanvas></canvas>
        <ion-button expand="block" color="primary" (click)="getExpense()">View Expenses</ion-button>
      </ion-card-content>
    </ion-card>
  <!-- </a> -->
  <ion-card class="savings-card">
    <ion-card-header>
      <ion-card-subtitle>Total Savings</ion-card-subtitle>
      <ion-card-title>Savings</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <canvas #lineCanvasSav></canvas>
      <ion-button expand="block" color="secondary">View Savings</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-expense">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>