.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.balance-card{
  .balance-text{
    font-size : 29px;
  }
  .sub-text{
    color: darkgray;
    font-size: 12px;
    text-align:center;
    text-transform: uppercase;
  } 
  margin-bottom: 20px;
}
.expense-card{
  border-top: 5px solid #f16e3e;
}
.savings-card{
  border-top: 5px solid rgba(75,192,192,1);
}
.side-heading{
  color: #3f3f3f;
  font-size: 15px;
  padding: 5px 14px 5px 14px;
  letter-spacing: 1px;
}
.total-mon{
  color: #3f3f3f;
  font-size: 15px;
}
.slide-zoom, .swiper-slide {
  text-align: justify !important;
}
.date{
  margin-left: 70px;
  position: relative;
}