<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="form-card">
    <form [formGroup]="expenseForm" >
      
    <ion-item>
      <ion-label>
        Select Date
      </ion-label>
      <ion-datetime displayFormat="MM DD YYYY" placeholder="MM DD YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Enter Amount" type="number" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" formControlName="category" placeholder="Select One">
          <ion-select-option value="food&groceries">Food & Groceries</ion-select-option>
        <ion-select-option value="housing">Housing</ion-select-option>
        <ion-select-option value="utilities">Utilities</ion-select-option>
        <ion-select-option value="entertainment">Entertainment</ion-select-option>
        <ion-select-option value="healthcare">Health Care</ion-select-option>
        <ion-select-option value="personalcare">Personal Care</ion-select-option>
        <ion-select-option value="shopping">Shopping</ion-select-option>
        <ion-select-option value="travels">Travels</ion-select-option>
        <ion-select-option value="others">Others</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Source" formControlName="source"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Transaction type</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" formControlName="trType" interface="action-sheet" placeholder="Select One">
        <ion-select-option value="card">Card</ion-select-option>
        <ion-select-option value="cash">Cash</ion-select-option>
        <ion-select-option value="others">Others</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Description" formControlName="description"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="setExpense()">Add Expense</ion-button>

    </form>
  </ion-card>

</ion-content>