<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="form-card">
    <form [formGroup]="expenseForm" >
      
    <ion-item>
      <ion-label>
        Select Date
      </ion-label>
      <ion-datetime displayFormat="MM DD YYYY" placeholder="MM DD YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Enter Amount" type="number" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" formControlName="category" placeholder="Select One">
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="purple">Purple</ion-select-option>
        <ion-select-option value="yellow">Yellow</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
        <ion-select-option value="green">Green</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Source" formControlName="source"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Transaction type</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" formControlName="trType" interface="action-sheet" placeholder="Select One">
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="purple">Purple</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Description" formControlName="description"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="setExpense()">Add Expense</ion-button>

    </form>
  </ion-card>

</ion-content>